<div class="container-fluid p-0 mb-4">
    <div class="row justify-content-between mb-5">
        <h3 class="col"><strong>Projects</strong></h3>
        <!-- Caption to add -->
        <!-- Button trigger modal -->
        <button type="button" class="col-1 btn btn-secondary rounded-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create Project
        </button>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-name" id="exampleModalLabel">Create Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                    <form [formGroup]="projectCreationForm" (ngSubmit)="createProject()">
                        <div class="modal-body">
                            <div *ngIf="error" class="alert alert-danger alert-dismissible mt-1 mb-3">
                                {{error.error.message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                            <div class="form-group mt-2">
                                <label for="projectKey">Project Key</label>
                                <input type="text" formControlName="projectKey" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['projectKey'].errors }" />
                                <div *ngIf="submitted && form['projectKey'].errors" class="invalid-feedback">
                                    <div *ngIf="form['projectKey'].errors['required']">Project Key is required</div>
                                </div>
                            </div>
                            
                            <div class="form-group mt-2">
                                <label for="name">Name</label>
                                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }" />
                                <div *ngIf="submitted && form['name'].errors" class="invalid-feedback">
                                    <div *ngIf="form['name'].errors['required']">Name is required</div>
                                </div>
                            </div>
                            
                            <div class="form-group mt-2">
                                <label for="description">Description</label>
                                <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['description'].errors }" />
                                <div *ngIf="submitted && form['description'].errors" class="invalid-feedback">
                                    <div *ngIf="form['description'].errors['required']">Description is required</div>
                                </div>
                            </div>
                        </div>
        
                        <div class="modal-footer">
                            <button type="button" id="createProjectForm" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            
                            <button [disabled]="loading" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card rounded-4">
        <div class="card-body d-flex justify-content-between">
            <button class="btn btn-secondary position-relative rounded-3 mx-3 px-3" data-bs-toggle="modal" data-bs-target="#projectFiltersModal">
                <i class="bi bi-funnel-fill"></i> Filters
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{appliedFilters}}
                    <span class="visually-hidden">filters applied</span>
                </span>
            </button>

            <div class="modal fade" id="projectFiltersModal" tabindex="-1" aria-labelledby="projectFiltersModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="projectFiltersModalLabel">Filters</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body">
                            <div class="mt-2" *ngFor="let filterSet of filterSets; let i = index">
                                <form [formGroup]="filterSet" class="row">
                                    <select formControlName="field" class="form-select col mx-2">
                                        <option value="" disabled selected>Fields</option>
                                        <option value="projectKey">Project Key</option>
                                        <option value="name">Name</option>
                                        <option value="description">Description</option>
                                    </select>
                                    <select formControlName="operator" class="form-select col mx-2">
                                        <option value="" disabled selected>Relation</option>
                                        <option value="<">LESS THAN</option>
                                        <option value="=">EQUAL TO</option>
                                        <option value=">">GREATER THAN</option>
                                    </select>
                                    <input formControlName="value" [type]="dataTypeToInputType[getInputType(filterSet)]" placeholder="Value" class="col form-control mx-2" />
                                    <button (click)="removeFilterSet(i)" type="button" class="col-1 btn btn-danger mx-2">
                                        <i class="bi bi-x-lg"></i>
                                    </button>
                                </form>
                                <!-- <div *ngIf="submitted && form['firstName'].errors" class="invalid-feedback">
                                    <div *ngIf="form['firstName'].errors['required']">First Name is required</div>
                                </div> -->
                            </div>

                            <div class="row mt-3">
                                <button (click)="addFilter()" type="button" class="btn btn-secondary col-3 mx-2">
                                    <i class="bi bi-plus-lg"></i> Add filter
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" id="closeProjectFilterModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button (click)="applyFilter()" class="btn btn-primary">Save changes</button>
                        </div>
                  </div>
                </div>
              </div>

            <button type="button" class="btn btn-secondary rounded-3 ml-3 px-3">
                Search
            </button>
        </div>
    </div>
</div>