<section>
  <button (click)="createUser()">Create User</button>
  <button (click)="getAllUsers()">Get All Users</button>
  <button (click)="getUser()">Get User</button>
  <button (click)="updateUser()">Update User</button>
  <button (click)="deleteUser()">Delete User</button>
</section>

<hr>

<section>
  <button (click)="createProject()">Create Project</button>
  <button (click)="getAllProjects()">Get All Projects</button>
  <button (click)="getProject()">Get Project</button>
  <button (click)="updateProject()">Update Project</button>
  <button (click)="deleteProject()">Delete Project</button>
</section>

<hr>

<section>
  <button (click)="createIssue()">Create Issue</button>
  <button (click)="getAllIssues()">Get All Issues</button>
  <button (click)="getIssue()">Get Issue</button>
  <button (click)="updateIssue()">Update Issue</button>
  <button (click)="deleteIssue()">Delete Issue</button>
</section>
