<div class="row">
    <ul class="nav">
        <li class="nav-item">
            <a routerLink="summary" href="#" class="nav-link">Summary</a>
        </li>
        <li class="nav-item">
            <a routerLink="board" href="#" class="nav-link">Board</a>
        </li>
        <li class="nav-item">
            <a routerLink="list" href="#" class="nav-link">List</a>
        </li>
        <li class="nav-item">
            <a routerLink="calendar" href="#" class="nav-link">Calendar</a>
        </li>
    </ul>
</div>