<!-- Reset Password Modal -->
<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="userModalLabel" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pb-4">
            <div class="modal-header">
                <h3 class="modal-title text-center w-100 py-3" id="userModalLabel">Reset Your Password</h3>
            </div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="px-4">
                <div class="modal-body">
                    <div *ngIf="error" class="alert alert-danger alert-dismissible mt-1 mb-4">
                        <i class="bi bi-exclamation-triangle-fill"></i> {{error.error.message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
                    <div class="form-floating mt-4">
                        <input type="text" formControlName="email" id="email" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" />
                        <label for="email">Email</label>
                        <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                            <div *ngIf="form['email'].errors['required']">Email is required</div>
                        </div>
                    </div>
    
                    <div class="form-floating mt-4">
                        <input type="password" formControlName="currentPassword" id="currentPassword" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['currentPassword'].errors }" />
                        <label for="currentPassword">Current Password</label>
                        <div *ngIf="submitted && form['currentPassword'].errors" class="invalid-feedback">
                            <div *ngIf="form['currentPassword'].errors['required']">Current password is required</div>
                        </div>
                    </div>
    
                    <div class="form-floating mt-4">
                        <input type="password" formControlName="newPassword" id="newPassword" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['newPassword'].errors }" />
                        <label for="newPassword">New Password</label>
                        <div *ngIf="submitted && form['newPassword'].errors" class="invalid-feedback">
                            <div *ngIf="form['newPassword'].errors['required']">New password is required</div>
                        </div>
                    </div>
    
                    <div class="form-floating mt-4">
                        <input type="password" formControlName="newPasswordRepeated" id="newPasswordRepeated" placeholder="" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['newPasswordRepeated'].errors }" />
                        <label for="newPasswordRepeated">Repeat New Password</label>
                        <div *ngIf="submitted && form['newPasswordRepeated'].errors" class="invalid-feedback">
                            <div *ngIf="form['newPasswordRepeated'].errors['required']">Repeated password is required</div>
                        </div>
                    </div>
                    
                    <button [disabled]="loading" class="col-md-12 btn btn-primary btn-lg mt-5">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Reset Password
                    </button>
                    
                    <div class="row justify-content-center mt-3">
                        <a (click)="closeModal()" routerLink="/register" class="text-center text-decoration-none">Create new account</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Reset Password Modal -->