<div class="card rounded-4">

    <div class="card-body">
      <!-- Table Header -->
      <div class="row p-2 mb-3 fw-bold">
        <div class="col-3">Project Key</div>
        <div class="col-3">Name</div>
        <div class="col-6">Description</div>
      </div>
      <!-- End Table Header -->
  
      <!-- Table Content -->
      <ng-template [ngIf]="projects.length !== 0" [ngIfElse]="no_projects">
        <div *ngFor="let project of projects" [routerLink]="['details', project.projectKey]" class="row mb-3 p-2 d-flex align-items-center">
          <div class="col-3">{{project.projectKey}}</div>
  
          <div class="col-3">{{project.name}}</div>
  
          <div class="col">{{project.description}}</div>
        </div>
      </ng-template>
  
      <ng-template #no_projects>
        <h3 class="text-secondary text-center">No projects to display</h3>
      </ng-template>
      <!-- End Table Content -->
    </div>
  </div>