<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <th></th>
        <tr>
            <td align="center" bgcolor="#f3f3f3">
                <table border="0" cellpadding="0" cellspacing="0" width="600" style="margin: 30px auto;">
                    <th></th>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px;">
                            <h1 style="color: #333333; font-size: 24px; margin-bottom: 20px;" th:text="${title}"></h1>
                            <p style="color: #666666; font-size: 16px; line-height: 1.6;">Dear <span th:text="${name}"></span>,</p>
                            <p style="color: #666666; font-size: 16px; line-height: 1.6;">
                                This is a notification email from <span th:text="${applicationName}"></span>.
                            </p>
                            <p style="color: #666666; font-size: 16px; line-height: 1.6;" th:text="${content}">
                            </p>
                            <p style="color: #666666; font-size: 16px; line-height: 1.6;">
                                Thank you, <br>
                                <span th:text="${applicationName}"></span>
                            </p>
                            <!-- <p style="color: #666666; font-size: 16px; line-height: 1.6;"></p> -->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>