<div class="container-fluid p-0 mb-4">
    <div class="row mb-5">
        <h3 class="col"><strong>Dashboard</strong></h3>
    </div>

    <div class="row mb-4">
        <div class="col">
            <app-projects-dropdown (selectedProjectChange)="onProjectChange($event)" [projects]="projects"></app-projects-dropdown>
        </div>
        
        <div class="col">
            <div class="card my-2 mt-0">
                <div class="card-body">
                    <h4 class="card-title">Issue Density</h4>
                    <h5 class="card-text">Sub-Placeholder</h5>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card my-2 mt-0">
                <div class="card-body">
                    <h4 class="card-title">Issue Gap Percentage</h4>
                    <h5 class="card-text">Sub-Placeholder</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <app-issues-status-piechart [issues]="issues"></app-issues-status-piechart>
        </div>
        
        <div class="col">
            <div class="card my-2 mt-0">
                <div class="card-body">
                    <h4 class="card-title">Issue by Priority</h4>
                    <h5 class="card-subtitle text-muted">Sub-Placeholder</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="card my-2 mt-0">
                <div class="card-body">
                    <h4 class="card-title">Assigned vs Resolved Issues by Assignee</h4>
                    <h5 class="card-subtitle">Sub-Placeholder</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card my-2 mt-0">
                <div class="card-body">
                    <h4 class="card-title">Assigned vs Resolved Issues by Team</h4>
                    <h5 class="card-subtitle">Sub-Placeholder</h5>
                </div>
            </div>
        </div>
    </div>
</div>