<div class="h-100 rounded px-3" style="background-color:rgb(240, 240, 240)">
    <span class="badge my-3"
    [ngClass]="{
        'bg-secondary' : status === 'TO DO',
        'bg-primary' : status === 'IN PROGRESS',
        'bg-success' : status === 'DONE'
    }">
        {{status}}
    </span>
    <app-issue-card *ngFor="let issue of issues" [issue]="issue"></app-issue-card>

    <button *ngIf="status === 'TO DO'" type="button" class="btn d-block p-0 my-3" data-bs-toggle="modal" data-bs-target="#issueModal" style="color: rgb(105, 105, 105);">
        <i class="bi bi-plus-lg"></i> Create
    </button>

    <app-issue-modal></app-issue-modal>
</div>