<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="editProfileModalLabel">Edit profile</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

          <form [formGroup]="editProfileForm" enctype="multipart/form-data" (ngSubmit)="editProfile()">
              <div class="modal-body">
                  <div *ngIf="error" class="alert alert-danger alert-dismissible mt-1 mb-3">
                      {{error.error.message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>

                  <div class="form-group d-flex justify-content-center my-2">
                    <label class="hoverable me-4" for="fileInput">
                      <img [src]="userDetails.avatarUrl ? userDetails.avatarUrl : 'https://www.w3schools.com/howto/img_avatar.png'" class="profile-avatar rounded-circle" alt="">
                      <i class="hover-icon bi bi-camera text-light fs-3"></i>
                      <div class="background"></div>
                    </label>
                    <input id="fileInput" type='file' (change)="onSelectFile($event)">
                  </div>

                  <div class="form-group row mt-2">
                      <div class="col">
                        <label for="firstName">First Name</label>
                        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['firstName'].errors }" />
                        <div *ngIf="submitted && form['firstName'].errors" class="invalid-feedback">
                            <div *ngIf="form['firstName'].errors['required']">First Name is required</div>
                        </div>
                      </div>

                      <div class="col">
                        <label for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['lastName'].errors }" />
                        <div *ngIf="submitted && form['lastName'].errors" class="invalid-feedback">
                            <div *ngIf="form['lastName'].errors['required']">Last Name is required</div>
                        </div>
                      </div>
                  </div>

                  <div class="form-group mt-2">
                      <label for="email">Email</label>
                      <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" />
                      <div *ngIf="submitted && form['email'].errors" class="invalid-feedback">
                          <div *ngIf="form['email'].errors['required']">Email is required</div>
                      </div>
                  </div>

                  <div class="form-group mt-2">
                      <label for="password">Password</label>
                      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['password'].errors }" />
                      <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                          <div *ngIf="form['password'].errors['required']">Password is required</div>
                      </div>
                  </div>

                  <div class="form-group mt-2">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="tel" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['phoneNumber'].errors }" />
                    <div *ngIf="submitted && form['phoneNumber'].errors" class="invalid-feedback">
                        <div *ngIf="form['phoneNumber'].errors['required']">Email is required</div>
                    </div>
                  </div>

                  <div class="form-group mt-2">
                    <label for="jobTitle">Job Title</label>
                    <input type="text" formControlName="jobTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['jobTitle'].errors }" />
                    <div *ngIf="submitted && form['jobTitle'].errors" class="invalid-feedback">
                        <div *ngIf="form['jobTitle'].errors['required']">Email is required</div>
                    </div>
                  </div>

                  <div class="form-group mt-2">
                    <label for="department">Department</label>
                    <input type="text" formControlName="department" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['department'].errors }" />
                    <div *ngIf="submitted && form['department'].errors" class="invalid-feedback">
                        <div *ngIf="form['department'].errors['required']">Email is required</div>
                    </div>
                  </div>

                <div class="form-group mt-2">
                  <label for="timezone">Timezone</label>
                  <input type="text" formControlName="timezone" class="form-control" [ngClass]="{ 'is-invalid': submitted && form['timezone'].errors }" />
                  <div *ngIf="submitted && form['timezone'].errors" class="invalid-feedback">
                      <div *ngIf="form['timezone'].errors['required']">Email is required</div>
                  </div>
                </div>
              </div>

              <div class="modal-footer">
                  <button type="button" id="editProfileForm" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                  <button [disabled]="loading" class="btn btn-primary">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Done
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>
