<div class="row m-5 mt-3 mb-3">
    <img class="col-1 img-thumbnail" alt="...">

    <div class="col">
        <nav class="row mx-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" class="text-decoration-none project-name">{{issue.project.projectKey}}</a></li>
              <li class="breadcrumb-item"><a href="#" class="text-decoration-none issueId">{{issue.issueId}}</a></li>
            </ol>
        </nav>
    
        <h3 class="row mx-2 title">{{issue.title}}</h3>
    </div>
</div>

<div class="row">
    <div class="btn-toolbar m-5 mb-4 mt-0" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-3" role="group" aria-label="Edit group">
            <button type="button" class="btn btn-secondary">
                <i class="bi bi-pencil-fill"></i> Edit
            </button>
        </div>
    
        <div class="btn-group me-3" role="group" aria-label="Comment group">
            <button type="button" class="btn btn-secondary">
                <i class="bi bi-chat-fill"></i> Comment
            </button>
        </div>
    
        <div class="btn-group me-3" role="group" aria-label="Assign group">
            <button type="button" class="btn btn-secondary me-1">Assign</button>
            <div class="dropdown">
                <button type="button" class="btn btn-secondary dropdown-toggle" id="moreActionsMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    More
                </button>
                <ul class="dropdown-menu" aria-labelledby="moreActionsMenuButton">
                    <li><a class="dropdown-item" href="#">Action 1</a></li>
                    <li><a class="dropdown-item" href="#">Action 2</a></li>
                    <li><a class="dropdown-item" href="#">Action 3</a></li>
                </ul>
            </div>
        </div>
    
        <div class="btn-group me-3" role="group" aria-label="Change state group">
            <button (click)="changeIssueStatus(currentState)" *ngFor="let currentState of possibleActions.get(issue.status)" class="btn btn-secondary me-1">{{currentState}}</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <div class="accordion accordion-flush m-5 mb-3 mt-0" id="mainAccordion">
            <div class="accordion-item mb-5 text-small">
                <h5 class="accordion-header" id="detailsHeading">
                    <button class="accordion-button p-0 bg-white text-small" type="button" data-bs-toggle="collapse" data-bs-target="#detailsCollapse" aria-expanded="true" aria-controls="detailsCollapse">
                        Details
                    </button>
                </h5>

                <div id="detailsCollapse" class="accordion-collapse collapse show" aria-labelledby="detailsHeading">
                    <div class="accordion-body p-0 mt-2 mb-4">
                        <div class="row mb-2">
                            <div class="col text-secondary">
                                Type:
                            </div>

                            <div class="col">
                                {{issue.issueId}}
                            </div>

                            <div class="col text-secondary">
                                Status: 
                            </div>
                            
                            <div class="col">
                                <span class="badge"
                                  [ngClass]="{
                                    'bg-secondary' : issue.status === IssueStatus.NEW || issue.status === IssueStatus.ASSIGNED || issue.status === IssueStatus.OPEN || issue.status === IssueStatus.REOPENED,
                                    'bg-success' : issue.status === IssueStatus.FIXED || issue.status === IssueStatus.VERIFIED || issue.status === IssueStatus.CLOSED,
                                    'bg-danger' : issue.status === IssueStatus.DUPLICATE || issue.status === IssueStatus.REJECTED || issue.status === IssueStatus.DEFERRED || issue.status === IssueStatus.NOT_A_BUG,
                                    'bg-warning' : issue.status === IssueStatus.PENDING_RETEST || issue.status === IssueStatus.RETEST
                                  }">
                                  {{issue.status.split('_').join(' ')}}
                                </span>
                              </div>
                        </div>

                        <div class="row">
                            <!-- Label -->
                            <div class="col text-secondary">
                                Priority:
                            </div>

                            <!-- Priority Bagde -->
                            <div class="col" [ngSwitch]="issue.priority">
                                <span *ngSwitchCase="'HIGHEST'">
                                  <i class="bi bi-arrow-up-square-fill text-danger"></i>
                                  {{issue.priority}}
                                </span>
                        
                                <span *ngSwitchCase="'HIGH'">
                                  <i class="bi bi-arrow-up-square-fill text-warning"></i>   <!-- how to make it orange -->
                                  {{issue.priority}}
                                </span>
                        
                                <span *ngSwitchCase="'MEDIUM'">
                                  <i class="bi bi-arrow-up-square-fill text-warning"></i>
                                  {{issue.priority}}
                                </span>
                        
                                <span *ngSwitchCase="'LOW'">
                                  <i class="bi bi-arrow-down-square-fill text-primary"></i>
                                  {{issue.priority}}
                                </span>
                        
                                <span *ngSwitchCase="'LOWEST'">
                                  <i class="bi bi-arrow-down-square-fill text-success"></i>
                                  {{issue.priority}}
                                </span>
                            </div>

                            <div class="col text-secondary">
                                Version: 
                            </div>

                            <div class="col">
                                {{issue.version}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-5 text-small">
                <h5 class="accordion-header" id="descriptionHeading">
                    <button class="accordion-button p-0 bg-white text-small" type="button" data-bs-toggle="collapse" data-bs-target="#descriptionCollapse" aria-expanded="true" aria-controls="descriptionCollapse">
                        Description
                    </button>
                </h5>

                <div id="descriptionCollapse" class="accordion-collapse collapse show" aria-labelledby="descriptionHeading">
                    <div class="accordion-body p-0 mt-2 mb-4">
                        {{issue.description}}
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-5 text-small">
                <h5 class="accordion-header" id="attachmentsHeading">
                    <button class="accordion-button p-0 bg-white text-small" type="button" data-bs-toggle="collapse" data-bs-target="#attachmentsCollapse" aria-expanded="true" aria-controls="attachmentsCollapse">
                        Attachments
                    </button>
                </h5>

                <div id="attachmentsCollapse" class="accordion-collapse collapse show" aria-labelledby="attachmentsHeading">
                    <div class="accordion-body p-0 mt-2 mb-4">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input class="form-control text-small" type="file" id="formFile">
                    </div>
                </div>
            </div>

            <div class="accordion-item text-small">
                <h5 class="accordion-header" id="activityHeading">
                    <button class="accordion-button p-0 bg-white text-small" type="button" data-bs-toggle="collapse" data-bs-target="#activityCollapse" aria-expanded="true" aria-controls="activityCollapse">
                        Activity
                    </button>
                </h5>

                <div id="activityCollapse" class="accordion-collapse collapse show" aria-labelledby="activityHeading">
                    <div *ngFor="let comment of issue.discussion" class="accordion-body p-0 mt-2 mb-4 text-small">
                        {{comment.createdByUser.firstName}} {{comment.createdByUser.firstName}}: {{comment.comment}} {{comment.createdOn | date}}
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-secondary m-5 mt-0">
            <i class="bi bi-chat-fill"></i> Comment
        </button>
    </div>

    <div class="col-4">
        <div class="accordion accordion-flush m-5 mb-3 mt-0" id="secondaryAccordion">
            <div class="accordion-item mb-3 text-small">
                <h5 class="accordion-header" id="peopleHeading">
                    <button class="accordion-button p-0 bg-white text-small" type="button" data-bs-toggle="collapse" data-bs-target="#peopleCollapse" aria-expanded="true" aria-controls="peopleCollapse">
                        People
                    </button>
                </h5>
    
                <div id="peopleCollapse" class="accordion-collapse collapse show" aria-labelledby="peopleHeading">
                    <div class="accordion-body p-0 mt-2 mb-4">
                        <div class="row mb-2">
                            <!-- Label -->
                            <div class="col text-secondary">
                                Assignee:
                            </div>
                            <!-- End -->

                            <!-- Assignee Full Name -->
                            <ng-template [ngIf]="issue.assignedUser" [ngIfElse]="no_assignee">
                                <div class="col">
                                    {{issue.assignedUser.firstName}} {{issue.assignedUser.lastName}}
                                </div>
                            </ng-template>

                            <ng-template #no_assignee>
                                <div class="col">
                                    Unassigned
                                </div>
                            </ng-template>
                            <!-- End -->
                        </div>

                        <div class="row mb-2">
                            <!-- Label -->
                            <div class="col text-secondary">
                                Reporter: 
                            </div>
                            <!-- End -->
                            
                            <!-- Reporter Full Name -->
                            <div class="col">
                                {{issue.createdByUser.firstName}} {{issue.createdByUser.lastName}}
                            </div>
                            <!-- End -->
                        </div>

                        <ng-template [ngIf]="issue.tester">
                            <div class="row mb-2">
                                <!-- Label -->
                                <div class="col text-secondary">
                                    Tester:
                                </div>
                                <!-- End -->

                                <!-- Tester Full Name -->
                                <div class="col">
                                    {{issue.tester.firstName}} {{issue.tester.lastName}}
                                </div>
                                <!-- End -->
                            </div>
                        </ng-template>

                        <div class="row mb-2">
                            <!-- Label -->
                            <div class="col text-secondary">
                                Version: 
                            </div>
                            <!-- End -->

                            <!-- Label -->
                            <div class="col">
                                {{issue.version}}
                            </div>
                            <!-- End -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-3 text-small">
                <h5 class="accordion-header" id="datesHeading">
                    <button class="accordion-button p-0 bg-white text-small" type="button" data-bs-toggle="collapse" data-bs-target="#datesCollapse" aria-expanded="true" aria-controls="datesCollapse">
                        Dates
                    </button>
                </h5>
    
                <div id="datesCollapse" class="accordion-collapse collapse show" aria-labelledby="datesHeading">
                    <div class="accordion-body p-0 mt-2 mb-4">
                        <div class="row mb-2">
                            <div class="col text-secondary">
                                Created:
                            </div>

                            <div class="col">   <!-- TODO: Create pipe to display time ago if difference < 24h -->
                                {{issue.createdOn | date}}
                            </div>
                        </div>

                        <ng-template [ngIf]="issue.assignedOn">
                            <div class="row mb-2">
                                <div class="col text-secondary">
                                    Assigned: 
                                </div>
                                
                                <div class="col">
                                    {{issue.assignedOn | date}}
                                </div>
                            </div>
                        </ng-template>

                        <ng-template [ngIf]="issue.closedOn">
                            <div class="row mb-2">
                                <div class="col text-secondary">
                                    Closed:
                                </div>
    
                                <div class="col">
                                    {{issue.closedOn | date}}
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>