<div class="card rounded-4">
    <div class="card-body">
        <!-- Table Header -->
        <div class="row p-2 mb-3 fw-bold">
            <div class="col-2">User ID</div>
            <div class="col-2">First Name</div>
            <div class="col-2">Last Name</div>
            <div class="col-3">Email</div>
            <div class="col">Role</div>
            <div class="col-2">Actions</div>
        </div>
        <!-- End Table Header -->

        <!-- Table Content -->
        <ng-template [ngIf]="users.length !== 0" [ngIfElse]="no_users">
            <div *ngFor="let user of users | orderBy:sortFn" class="row mb-3 p-2 d-flex align-items-center">
                <div class="col-2">{{user.userId}}</div>
                <div class="col-2">{{user.firstName}}</div>
                <div class="col-2">{{user.lastName}}</div>
                <div class="col-3">{{user.email}}</div>
                <div class="col">{{convertUserRole(user.role)}}</div>
                <div class="col-2 d-flex justify-content-between">
                    <button (click)="selectUserToUpdate(user)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateUserModal"><i class="bi bi-pencil-fill"></i></button>
                    <button (click)="deleteUser(user)" type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
                    <button (click)="disableEnableUserAccount(user)" type="button" class="btn btn-secondary">
                        <i class="bi" [ngClass]="{
                            'bi-x-circle-fill' : user.enabled !== true,
                            'bi-check-circle-fill' : user.enabled === true
                        }"></i>
                    </button>
                    <button (click)="unlockUserAccount(user)" type="button" class="btn btn-secondary">
                        <i class="bi" [ngClass]="{
                            'bi-lock-fill' : user.accountLocked === true,
                            'bi-unlock-fill' : user.accountLocked !== true
                        }"></i>
                    </button>
                </div>
            </div>
        </ng-template>

        <ng-template #no_users>
            <h3 class="text-secondary text-center">No users to display</h3>
        </ng-template>
        <!-- End Table Content -->
    </div>
    <app-user-update-modal [user]="selectedUser"></app-user-update-modal>
</div>

