<div class="card my-2 mt-0">
    <div class="card-body">
        <h4 class="card-title">Issue by Priority</h4>
        <div class="container">
            <ng-template [ngIf]="issues.length !== 0" [ngIfElse]="no_issues_overview">
                <canvas id="issuesPriorityPiechart">{{issuesPriorityPiechart}}</canvas>
            </ng-template>

            <ng-template #no_issues_overview>
                <p class="text-center fs-1 text-secondary" style="display: flex; justify-content: center; align-items: center; height: 300px;">No Issues</p>
            </ng-template>
        </div>
    </div>
</div>