<div class="container-fluid p-0 mb-4">
    <div class="row justify-content-between mb-5">
        <h3 class="col"><strong>Issues</strong></h3>
        <!-- Caption to add -->
        <!-- Button trigger modal -->
        <button type="button" class="col-1 btn btn-secondary rounded-3" data-bs-toggle="modal" data-bs-target="#issueModal">
            Create Issue
        </button>
    
        <app-issue-modal></app-issue-modal>
    </div>

    <div class="card rounded-4">
        <form class="card-body d-flex justify-content-between">
            <div class="input-group w-25">
                <span class="btn bg-white border border-end-0"><i class="bi bi-search"></i></span>
                <input class="form-control bg-white border" type="search" placeholder="Issue ID" aria-label="Search">
            </div>

            <div class="container d-flex justify-content-end m-0 p-0 w-50">
                <div class="input-group w-25 mx-5">
                    <select class="form-select">
                        <option selected value="">Filters</option>
                        <option value="createdBy">Created By</option>
                        <option value="issueId">Issue ID</option>
                        <option value="title">Title</option>
                        <option value="version">Version</option>
                        <option value="asignee">Asignee</option>
                        <option value="priority">Priority</option>
                        <option value="status">Status</option>
                        <option value="createdOn">Created On</option>
                    </select>
                </div>
    
                <div class="input-group w-auto">
                    <button type="button" class="btn btn-secondary rounded-3 px-5">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>